* {
  box-sizing: border-box;
}

body {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* header {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    font-size: 30px;
  }

  .timer {
    text-align: right;
    margin-right: 50px;
  }

  .instruction-box {
    text-align: center;
    padding: 10px;
    font-size: 15px;;
  } */

  main {
    display: grid;
    grid-template-columns: repeat(4, 15vmin);
    grid-template-rows: repeat(4, 15vmin);
    gap: 2vmin;
  }

  img {
      width: 100%;
      border-radius: 3vmin;
  }

  button {
    flex-wrap: nowrap;
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
  }