* {
  box-sizing: border-box;
  background: #c6d0ecff;
}

body {
  height: 100vmin;
  padding-top: 50px;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  font-size: 8vmin;
  color: #4062bfff;

}

#instructions {
  font-size: 2.5vmin;
  font-family: 'Fredericka the Great', cursive;
  color: white;
}

h3 {
  font-size: 1.5vmin;
  font-family: 'Fredericka the Great', cursive;
  color: #4062bfff;
}

#countdown {
  font-size: 2.5vmin;
  font-family: 'Fredericka the Great', cursive;
  color: white;
}

main {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 15vmin);
  grid-template-rows: repeat(4, 15vmin);
  gap: 2vmin;
  padding-top: 1vmin;
  padding-bottom: 10vmin;
  transition: transform 1s;
  transform-style: preserve-3d;
  }

  .card:hover .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }


img {
  width: 100%;
  border-radius: 3vmin;
  box-shadow: 10px 5px 5px darkblue;
  }

  img, .flipped-box {
    width: 100%;
    border-radius: 3vmin;
    box-shadow: 10px 5px 5px darkblue;
    }

section {
  text-align: center;
}

button {
  margin-top: 4vmin;
  padding: 2vmin;
  font-size: 2vmin;
  border-radius: 4vmin;
  }